html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.ql-container.ql-snow {
	width: 100%;
	border: none !important;
	padding: 0 0 0 15px;
	position: absolute !important;
}

.ql-toolbar.ql-snow {
	border: none !important;
	border-bottom: 1px solid #ccc !important;
}
